extends ../layout

block content
  a.btn.btn-primary(href='/bicicletas/create')| Agregar bicicleta
  br
  br
  table.table
    thead
      tr
        th(scope='col')| #
        th(scope='col')| Color
        th(scope='col')| Modelo
        th(scope='col')| Ubicacion
        th
        th
    tbody
      each bici in bicis
        tr
          th(scope='row')
            = bici.biciId
          td= bici.color
          td= bici.modelo
          td= bici.ubicacion
          td
            a.btn.btn-primary(href='/bicicletas/'+ bici.biciId +'/update')| Editar
          td
             form.inline(method='post', action='/bicicletas/'+ bici.biciId +'/delete')
              input(type='hidden', name='id', value=bici.biciId)
              button.btn.btn-danger(type='submit', name='submit')| Eliminar